<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
    <h1>My Pets</h1>
    <h3>Pet 1: {{ @pet1->getName() }} is {{ @pet1->getColor() }} pet</h3>
    {{ @pet1->eat() }}
    {{ @pet1->talk() }}
    {{ @pet1->sleep() }}

    <h3>Pet 2: {{ @pet2->getName() }} is a {{ @pet2->getColor() }} {{ @pet2->getBreed() }}</h3>
    {{ @pet2->eat() }}
    {{ @pet2->talk() }}
    {{ @pet2->sleep() }}
    {{ @pet2->fetch() }}

    <h3>Pet 3: {{ @pet3->getName() }} is a {{ @pet3->getColor() }} cat</h3>
    {{ @pet3->eat() }}
    {{ @pet3->talk() }}
    {{ @pet3->sleep() }}
    {{ @pet3->scratch() }}
</body>
</html>